<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : LawnLike
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131202

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="{{ url_for('static', filename='fonts.css') }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
  <body class="homepage">

    <!-- Header -->
      <div id="header">

        <!-- Inner -->
          <div class="inner">
            <header>
              <h1><a href="index.html">IS IT GOOD FOR ME?</a></h1>
              <form>
                <input type="text" placeholder="Example: Vitamin C" id="treatment_field">
              <form>

            </header>
            <footer>
              <a href="#banner" class="button circled scrolly" name="treatment" id="button">Start</a>
            </footer>
          </div>

        <!-- Nav -->
          <nav id="nav">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="left-sidebar.html">About Us</a></li>
              <li><a href="right-sidebar.html">Team</a></li>
              <li><a href="no-sidebar.html">Contact Us</a></li>
            </ul>
          </nav>

      </div>

    <!-- Banner -->
      <section id="banner">
      <div id="title" style="text-align:center;"></div>
        <header id="main">

        </header>
      </section>

2 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
3 <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
4 <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/mustache.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-scrollto.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/initialize.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/model.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/view.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/charts.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/controller.js') }}"></script>
</body>
</html>
